:root {
    --back-ground: #f1f1f1;
    --color: #000000;
    --color-header: #ffca39;
    --color-submenu: #ffffff;
    --color-button: #06c7e9;
    --color-hover-button: #46ddf8;
    --color-cadastro: #f1f3f3;

    --color-submenu-hover: #ffffffcb;
    --color-boxshadow: #0000002f;
}

* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    
}

html {
    font-size: 15px;
    overflow-x: hidden; 
}

body {
    background-color: var(--back-ground);
    font-size: 0.88rem;
    height: 100vh;
    width: 100vw;
}

header {
    background-color: var(--color-header);   
    height: 150px;
    width: 100%;
    color: var(--color);
}

/* MENU */

.menu {
    display: flex;
    text-align: center;
    margin-left: -150px;
    margin-top: 30px;
    justify-content: center;
}

.menu a {
    color: var(--color);
}

.submenu {
    display: inline;
    background-color: var(--color-submenu);
    padding: 10px 25px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

.submenu:hover {
    background-color: var(--color-submenu-hover);
    font-size: 16px;
    transition: 1.2s;
}

#activesub {
    border: 2px solid lightblue;
}

/* FIM MENU */


.MiniMenu {
    display: flex;
    flex-direction: row;
    float: right;
    right: 0;
    top: 0;
    margin-right: 40px;
    margin-top: -40px;
    
}

.MiniMenu a {
    font-weight: bold;
}

.MiniMenu img {
    width: 25px;
    height: 25px;
    margin-bottom: -6px;
    margin-left: 6px;
}

.menuicon:hover {
    text-decoration: underline;
}

.logo {
    display: flex;
    padding-top: 11px;
    margin-left: 10px;
}

.logo img {
    border-radius: 20px;
}

.barra-pesquisa {
   margin-left: 130px;
   margin-top: -50px;

}

.barra-pesquisa input {
    padding: 13px 240px;
    border-radius: 10px 0 0 10px;
    border: none;
    outline: none;
    cursor: pointer;
    text-align: left;
    margin: auto;
}

.barra-pesquisa button {
    padding: 12px 25px;
    border-radius: 0 20px 20px 0;
    border: none;
    margin-left: -5px;
    cursor: pointer;
    font-weight: bold;
}

.barra-pesquisa button:hover {
    background-color: #f1f1f1bb;
    transition: 1s;
}

.barra-pesquisa input:hover {
    background-color: #f1f1f1bb;
    transition: 1s;
}

.cadastro {
    background-color: var(--color-cadastro);
    color: black;
    height: 50px;
    width: 190px;
    
    float: right;
    margin-top: -33px;
    margin-right: 9px;
}

.cadastro p {
    text-align: center;
    padding-top: 16px;
}

.destaque {
    overflow: visible;
}

.destaque img {
    width: 100%;
    height: 500px;
    margin-top: 20px;
}

.texto-produto {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.card {
    background-color: #ffffff;
    height: 335px;
    width: 210px;
    margin: 10px;
    border-radius: 8px;
    display: inline-block;
    box-shadow: 5px 5px var(--color-boxshadow);
    margin-left: 35px;
}

.card:hover {
    height: 360px;
    width: 230px;
    transition: 1s;
}

.card img {
    margin: 10px;
}

.container {
    margin-top: 5px;
    margin-left: 5px;
}

.container, h3, p {
    margin: 5px 5px;
}

.btn {
    margin-top: 6px;
    padding: 10px 18px;
    background-color: var(--color-button);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    margin: auto;
}

.btn:hover {
    background-color: var(--color-hover-button);
}

.card-info {
    background-color: white;
    height: 290px;
    width: 900px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 15px;
    box-shadow: 5px 5px var(--color-boxshadow);
}

.rodape {
    background-color: white;
    width: 100%;
    bottom: 0;
    padding: 10px 0;
    position: relative;
}

.rodape a:hover{
    text-decoration: underline;
}

.material-symbols-outlined {
    font-size: 20px;
    text-align: left;
}

.seletor-foto {
    display: flex;
    justify-content: center;
}

.seletor-foto input[type="radio"] {
    height: 25px;
    width: 25px;
    margin-left: 5px;
    margin-top: 2px;
}

.contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contato input{
    width: 500px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
}

.contato button {
    margin-top: 5px;
    height: 60px;
}

/* Página Checkout */

.main {
    display: grid;
    grid-template-columns: minmax(46%, 3fr) minmax(65%, 1.45fr);
    gap: 2.4rem;
    margin-top: 10px;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

.container h3 {
    margin-bottom: 15px;
}

.carrinho_produto {
    background-color: #ffffff;
    height: 90%;
    width: 600px;
    margin-bottom: auto;
    margin-left: 20px;
    margin-top: -9px;
    border-radius: 10px;
}

.sideContaint {
    float: right;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.produtoCar1 {
    margin-top: 30px;
    margin-left: 5px;
}

.produtoCar1 button {
    margin-top: -10px;
}

.produtos {
    background-color: #ffffff;
    height: 50%;
    width: 600px;
    
    margin-top: 15px;
    margin-bottom: auto;
    margin-left: 20px;
}

.resumo {
    background-color: #ffffff;
    height: 60%;
    width: 300px;
    display: flex;
    flex-direction: column;

    align-content: center;
}



#quantidade {
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
}

.spanCupom {
    margin-left: 10px;
    background-color: rgb(39, 255, 32);
    padding: 5px;
    border-radius: 5px;
}

.btn2 {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    padding: 10px;
    background-color: #06c7e9;
    outline: none;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}

.btn2:hover {
    cursor: pointer;
    background-color: #06c7e9cb;
}


.produtoCar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.produtoCar input {
    padding: 6px 2px;
    margin: 10px;
}

.produtoCar img {
    height: 100px;
    margin: 20px;
}

.cupom {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    height: 100px;
    width: 300px;
    margin-top: 60px;
}

.cupom input {



    padding: 10px;
}

.cupom button {
    padding: 10px;
    margin-top: 10px;
    margin-left: 30%;
}

/* Fim do Ckeckout */



/* Resposividade */

@media only screen and (min-width: 768px) {
    .menu {
        width: 120%;
    }

    .barra-pesquisa input{
       padding: 13px 140px;;
    }

    .submenu {
        padding: 20px;
    }

    img {
        max-width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 600px) {
    .menu {
        width: 100%;
        height: 100px;
        margin-top: 20px;
        margin-left: 4px; 
    }

    .submenu {
        display: inline-flex;
        padding: 11px;
    }

    .barra-pesquisa, input, button {
        margin-left: 30px;
    }

    .barra-pesquisa input {
        padding: 11px 16px;
    }
    
    .barra-pesquisa button {
        margin-left: -5px;
    }

    header {
        height: 200px;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    .card-info {
        max-width: 100%;
        height: auto;
        margin: auto;
    }
}

@media only screen and (min-width: 601px) and (max-width: 767px) {
    .menu {
        width: 100%;
    }

    .submenu {
        padding: 20px;
    }

    img {
        max-width: 100%;
        height: auto;
        box-sizing: border-box;
    }

    .barra-pesquisa, input, button {
        margin-left: 90px;
    }
}